@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?sas96g');
    src:  url('../fonts/icomoon.eot?sas96g#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?sas96g') format('truetype'),
        url('../fonts/icomoon.woff?sas96g') format('woff'),
        url('../fonts/icomoon.svg?sas96g#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
    content: "\e9bd";
}

.icon-facebook:before {
    content: "\ea91";
    font-size: 3.5em;
}
.icon-instagram:before {
    content: "\ea92";
    font-size: 3.5em;
}
.icon-twitter:before {
    content: "\ea96";
    font-size: 3.5em;
}
.icon-github:before {
    content: "\eab0";
    font-size: 3.5em;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}

h1{
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2;
    color: white;
    margin: 0;
}

h1 strong{
    color:#98A44A;
}

h2{
    color:#98A44A;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 40px;
}

ol,
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

img{
    max-width: 100%;
}

.burger-button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.8);
    display: block;
    line-height: 40px;
    text-align: center;
    position: fixed;
    z-index: 4;
    left: 5px;
    top: 5px;
    color: white;
    display: none;
}

.header{
    background-color: #2f2e41;
    color: white;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header a{
    color: white;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.header ul{
    display: flex;
    height: inherit;
}

.header ul li{
    height: inherit;
}

.menu{
    display: flex;
    height: inherit;
    transition: font-weight 200ms linear 0s;
    transition: font-size 400ms linear 0s;
}

.menu ul :hover{
    color: #98A44A;
    font-size: 1.1em;
    font-weight: bold;
}


.logo{
    margin: 0;
    padding: 20px;
    display: flex;
    align-items: center;
}

.logo-img{
    width: 150px;
    display: inherit;
}

.hero{
    background-color: #2F2E41;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero__image{
    object-fit: cover;
}

.portfolio{
    background: rgb(238, 236, 236);
    padding: 20px;
    display: flex;
}

.project{
    background: white;
    box-shadow: -12px 15px 36px -20px rgba(0,0,0,0.75);
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project strong{
    font-family: 'Fjalla One', sans-serif;
}

.project__container{
    width: 45%;
}

.project__container-tittle{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

.project__container-course,
.project__container-date,
.project__container-url{
    margin: 10px 0;
}

/* .project__container-date{
    margin: 10px 0;
}
*/
.project__container-url a{
    text-decoration: none;
    color: #000;
}

.project__container-description{
    font-size: 20px;
}

.project__imageContainer{
    width: 45%;
    margin: 0;
}

.experiencia_title{
    padding-left: 20px;
}

.experiencia{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.events{
    margin: 1%;
    margin-bottom: 20px;
    padding: 0;
    width: 48%;
    border-radius: 10px;
    overflow: hidden;
    background: #CED4B2;
}

.events__imageContainer{
    margin: 0;
    padding: 0;
}

.events__imageContainer-img{
    width: 480px;
    height: 200px;
    object-fit: cover;
}

.events__details{
    background-color: white;
    margin: 20px 40px;
    margin-top: -40px;
    position: relative;
    padding: 5px 20px;
    padding-bottom: 30px;
    text-align: center;
}

.events__details-description{
    text-align: left;
    margin-bottom: 30px;
}

.events__details-url{
    color: #98A44A;
    font-weight: bold;
    border: 2px solid;
    border-radius: 5px;
    text-decoration: none;
    padding: 15px;
}

.contact{
    background-color: #202020;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    flex-wrap: wrap;
}

.contact__form-email h3{
    font-family: 'Source Sans Pro', sans-serif;
}

.contact__form-email input{
    border-color: #BFD34B;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 20px 10px 25px;
    background-image: url(../Imagenes/mail.svg);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.contact__form-email button{
    display: block;
    margin-top: 10px;
    background: transparent;
    color: white;
    padding: 10px 88px;
    border-radius: 5px;
    text-align: center;
    /* margin: 10px auto 0; */
}

/* .social{

}
 */
.social_link{
    width: 50px;
    height: 50px;
    display: inline-block;
    background-size: 50px;
    margin: 0 6px;
}

.social_link.twitter{
    background-image: url(../Imagenes/twitter.svg);
}

.social_link.facebook{
    background-image: url(../Imagenes/facebook.svg);
}

.social_link.github{
    background-image: url(../Imagenes/github.svg);
}

.social_link.instagram{
    background-image: url(../Imagenes/instagram.svg);
}

.footer{
    background: #BFD34B;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer img{
    vertical-align: middle;
}

.footer a{
    color: white;
    text-decoration: none;
}

.wrapper{
  /*border: 1px solid lightgreen; */
    max-width: 1000px;
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: wrap;
}

/* Desktop First se empieza desde el MQ mas grande*/

@media screen and (max-width: 1023px){
    h1{
        font-size: 2em;
        z-index: 2;
    }

    .wrapper{
        padding: 0 1em;
    }

    .hero{
        height: auto;
        position: relative;
        overflow: hidden;
        padding: 2em;
    }

    .hero__image{
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
    }

@media screen and (max-width: 767px){
    h2{
        margin: .5em 0;
        font-size: 1.2em;
    }

    .portfolio{
        padding: 0;
    }

    .burger-button{
        display: block;
    }

    .header{
        display: block;
        height: auto;
    }

    .header ul{
        display: flex;
        flex-direction: column;
    }

    .header ul li{
        height: 50px;
        display: flex;
        flex: auto;
        justify-content: center;
    }

    .header a{
        height: 40px;
        font-size: 2em;
        text-decoration: underline;
        margin-bottom: .5em;
    }

    .logo{
        justify-content: center;
    }

    .menu{
        display: flex;
        position: fixed;
        align-items: center;
        justify-content: center;
        background: rgba(190, 211, 75, 0.9);
        z-index: 3;
        top: 0;
        left: -100vw;
        bottom: 0;
        width: 100vw;
        transition: .3s;
    }

    .menu.is-active{
        left: 0;
    }

    .project{
        display: block;
    }

    .project__container{
        width: auto;
        font-size: 14px;
    }

    .project__imageContainer{
        width: auto;
        text-align: center;
    }

    .project__container-course, .project__container-date, .project__container-url{
        margin: 0.4em 0;
    }
    .project__container-tittle{
        font-size: 1.5em;
        margin-bottom: 0.3em;
    }

    .project__container-course{
        font-size: 1em;
    }

    .project__container-date{
        font-size: 1em;
    }

    .project__container-url{
        font-size: 1em;
    }

    .project__container-description{
        font-size: 1em;
    }

    .experiencia_title{
        margin-left: 0;
        padding-left: 0;
    }

    .events{
        width: auto;
    }

    .events__imageContainer-img{
        width: 100%;
    }

    .events__details{
        margin: -2em .5em .5em .5em;
    }

    .contact{
        height: auto;
        padding: 1em 0;
        text-align: center;
        display: block;
    }

    .contact__form-email button {
        margin: 1.5em auto;
    }

    .contact__form-email h3{
        margin-top: 0;
    }

    .footer{
        display: block;
        text-align: center;
        border:1px solid transparent ;
        font-size: .8em;
    }
}

@media screen and (max-width: 480px){
    h1{
        font-size: 1.5em;
    }

    .hero__title{
        font-size: 2em;
    }

    .project__container{
        width: auto;
        font-size: 14px;
    }

    .footer{
        font-size: .8em;
    }
}

@media screen and (max-width: 320px){
    h1{
        font-size: 1.2em;
        background: rgba(0,0,0,0.5)
    }

    .hero{
        padding: 2em 1em;
    }

}